<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.birdaha">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- İzinler -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Diğer izinler burada tanımlanabilir -->
    <!-- Gereksinimler -->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label=" "
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirDaha">
        <activity
            android:name=".Activities.ClassroomHomeworkScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.ClassRoomAnnouncementScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.ClassAnnouncementScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.ClassroomScreen"
            android:exported="false" />
        <!--
    <activity android:name="com.example.birdaha.Activities.ParentMainActivity"
             android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        -->
        <activity
            android:name=".Activities.StudentMainActivity"
            android:exported="false"
            android:theme="@style/TransparentActionBar" />
        <activity
            android:name=".Activities.HomeWorkScreen"
            android:exported="false"
            android:theme="@style/TransparentActionBar" />
        <activity
            android:name=".Activities.TeacherMainActivity"
            android:exported="false"
            android:theme="@style/TransparentActionBar" />
        <activity
            android:name=".Activities.ParentMainActivity"
            android:exported="false"
            android:theme="@style/TransparentActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">

            <!-- Ana aktivite -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>